* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none; 
}

/* 1st Navbar */
#nav1, #nav2 {
    display: flex;
    justify-content: center; 
    padding: 10px 20px; 
    width: 100%; 
    margin: 0 auto; 
    box-sizing: border-boxl;
    background-color: black ;
}
#nav1-ele, #nav2-ele{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 1024px; 
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}
#nav1 h3{
    font-size: 13px;
    font-weight: 450;
    white-space: nowrap;
    color: #f5f5f7;
    margin: 0 10px; 
    cursor: pointer;
}
#nav1 a {
    fill: #F5F5F7;
    text-decoration: none;
}
#nav1 svg {
    max-height: 40px;
    cursor: pointer;
}
#nav1 h3:hover {
    cursor: pointer;
}

/*----------2nd Navbar----------*/
#nav2{
    height: 35px;
    width: 100%;
}
#nav2-ele{
    width: 1024px;
}
#nav2-ele h2 {
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f7;
    margin: 0; 
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; 
}
.nav-right h3 {
    font-size: 13px;
    font-weight: 450;
    white-space: nowrap;
    color: #f5f5f7;
    margin: 0; 
}
.nav-right a {
    text-decoration: none;
    color: inherit;
}
.nav-right button {
    background-color: #f5f5f7;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.nav-right button:hover {
    background-color: #ccc;
}
#demo {
    width: 95px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 15px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 450;
    border: 1px solid #f5f5f7;
    color: #f5f5f5;
}
#demo:hover {
    background-color: #f5f5f5;
    color: #1d1d1d;
    transition: all ease 0.2s;
}
#buy {
    width: 45px;
    text-align: center;
    padding: 4px 10px;
    border-radius: 15px;
    margin-left: -1px;
    background-color: #0071E3;
    font-size: 12px;
    color: white;
    font-weight: 400;
    border: none;
}
button:hover {
    cursor: pointer;
}
#over {
    position: relative;
    display: inline-block; /* Ensure it's treated as inline with block properties */
}
#over::after {
    content: '';
    position: absolute;
    left: 0; /* Start underline at the beginning of the text */
    right: 0; /* End underline at the end of the text */
    bottom: -11px; /* Position underline slightly below the text */
    height: 1.5px; /* Set the thickness of the underline */
    background-color: #ccc; /* Color of the underline */
}
/* #nav2.fixed {
    position: fixed;
    top: 0;
    margin: 0 auto; 
    width: 100%; 
    z-index: 9999;
    background-color: #000; 
} */

/*----------Main Page----------*/
#page1 {
    background-color: #000;
    position: relative;
    height: calc(100% - 90px);
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
}
#page1 #hero {
    position: relative;
    max-height: 100vh; 
    object-fit: cover;
}
#page1_btm{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page1_btm img{
    width: 100%;
}
#page1_btm h3{
    color: #86868b;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 1vw;
}
/* Page - 2 */
#page2 {
    margin-top: 150px;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
#page2 h1 {
    max-width: 1000px;
    font-size: 48px;
    color: #161617;
    line-height: 1.03;
    font-weight: 700;
    letter-spacing: -0.003em;
    margin-bottom: 40px;
    text-align: center;
}
#p2_btn {
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    padding: 15px 31px 12px 27px;
    gap: 7px;
    background-color: white;
    border: 3px solid #f56300;
    border-radius: 980px;
    cursor: pointer;
    height: 80px;
    transition: background-color 0.3s, border-color 0.3s;
}
#p2_btn i {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #f56300;
}
#p2_btn p {
    font-size: 24px;
    color: #f56300;
    font-weight: 600;
    margin: 0;
}
#p2_btn:hover {
    background-color: #f56300;
}
#p2_btn:hover p, 
#p2_btn:hover i {
    color: #F5F5F7;
}
#p2_play {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Page - 3 */
#page3{
    position: relative;
    /* height: 100vh;
    width: 100vw; */
    background-color: #fbfbfb;
}
#page3 video{
    max-height: 715px;
    max-width: 1165px;
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}

/* Page - 4 */
#page4 {
    margin-top: 150px;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
#p4_logo{
    height: 48px;
    margin-bottom: 45px;
}
#p4_img{
    height: 492px;
    width: 988px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
#p4_btn {
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    align-items: center;
    padding: 15px 31px 12px 27px;
    gap: 7px;
    background-color: white;
    border: 3px solid #1d1d1f;
    border-radius: 980px;
    cursor: pointer;
    height: 80px;
    transition: background-color 0.3s, border-color 0.3s;
}
#p4_btn i {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    color: #1d1d1f;
}
#p4_btn p {
    font-size: 24px;
    color: #1d1d1f;
    font-weight: 600;
    margin: 0;
}
#p4_btn:hover {
    background-color: #1d1d1d;
}
#p4_btn:hover p, 
#p4_btn:hover i {
    color: #F5F5F7;
}
#p4_play {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Page - 5 */
#page5{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
}
#page5 video {
    max-height: 715px;
    max-width: 1165px;
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}
#page5 h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
    text-align: center;
    color: #F5F5F7;
    white-space: nowrap;
}

/* Page 6*/
#page6{
    position: relative;
    display: flex;
    max-height: 90vh;
    width: 100vw;

}
.left5{
    position: relative;
    height: 100%;
    width: 50%;
}
.left5 h1{
    font-size: 32px;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: .004em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15%;

}
.right5{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    left: 5vw;
}
.right5 h3{ 
    margin-top: 10%;
    font-size: 21px;
    width: 80%;
    line-height: 1.381002381;
    font-weight: 600;
    letter-spacing: .011em;
    color: #86868b;
    padding: 30px 0px;
}
.right5 button{
    padding: 15px 31px;
    background-color:  #f56300;
    border: 3px solid #f56300;
    font-weight: 600;
    border-radius: 50px;
    font-size: 19px;
    color: #F5F5F7;
    margin-bottom: 50px;
}

/* Page 7 */
#page7{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #F5F5F7;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#page7 h3{
    margin-top: 100px;
    margin-bottom: 1vw;
    font-size: 24px;
}
#page7 h1{
    margin-bottom: 60px;
    font-size: 80px;
}
#page7 p{
    font-size: 24px;
    font-weight: 500;
    color: #86868b;
    width: 60%;
    line-height: 1.28;
    margin-bottom: 80px;
}

/* Page 8 */
#page8{
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F7;
    position: relative;
}
#page8 canvas{
    position: relative;
    left: 0%;
    max-width: 100vw;
    height: 100vh; 
    z-index: 99;
}

/* Canvas Page */
#page9, #page10, #page11, #page12, #page13, #page14{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #F5F5F7;
}
#page9 h1, #page11 h1, #page13 h1{
    width: 25%;
    font-size: 17px;
    font-weight: 900;
    color: #86868b;
    z-index: 99;
    position: absolute;
    top: 10%;
    left: 10%;
    line-height: 1.2;
    transform: translateY(-50%);
}
#page9 h1 span, #page11 h1 span, #page13 h1 span{
    color: #161617;
    font-weight: 900;
}
#page10 h1, #page12 h1, #page14 h1{
    width: 20%;
    height: 100vh;
    font-size: 17px;
    font-weight: 900;
    color: #86868b;
    z-index: 99;
    position: absolute;
    top: 50%;
    right: 4%;
    line-height: 1.13;
    transform: translateY(-50%);
}
#page10 h1 span, #page12 h1 span, #page14 h1 span{
    color: #161617;
    font-weight: 900;
}

/* Page 15 */
#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left15{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url("Assets/glass_top__k3b8lzqd1l2m_large_2x.jpg");
    background-size: cover;
}

.right15{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url("Assets/glass_side__gm4agomrwl2e_large_2x.jpg");
    background-size: cover;
}

/* Page 16 */
#page16{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#centre-page16{
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}
#centre-page16 video{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Page 17 */
#page17{
    height: 135vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

#page17 h2{
    font-size: 19px;
    position: absolute;
    width: 45%;
    line-height: 1.3;
    top: 5%;
    color: #86868b;
    font-weight: 900;
    text-align: center;
}
#page17 h2 span{
    color: #1d1d1f;
    font-weight: 900;
}
#page17 img{
    width: 50%;
    bottom: 0%;
    position: absolute;
}
#page17 button{
    position: absolute;
    bottom: 5%;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f56300;
    font-size: 24px;
    color: #F5F5F7;
    font-weight: 700;
    border: none;
}

/* Page 18 */
#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #F5F5F7;
}
#page18>h4{
    margin-top: 7%;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 13px;
}
#page18>h1{
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
}
#page18>p{
    margin-top: 40px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.35;
    margin-bottom: 50px;
    color: #86868b;
    text-align: center;
    max-width: 56%;
}
#page18>p>span{
    color: #F5F5F7;
}

/* Page 19 */
#page19{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
}
#page19 canvas{
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Page 20 */
#page20{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    background-color: #000;
    height: 40vh;
    width: 100vw;
}
#page20 h1{
    font-size: 32px;
}
#page20 h5{
    margin-top: 40px;
    max-width: 655px;
    font-size: 21px;
    line-height: 1.3;
    font-weight: 600;
    color: #86868b;
    letter-spacing: 0.01em;
}
#page20 h5 span{
    color: #F5F5F7;
    font-weight: bolder;
}

/* Page 21 */
#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page21>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page21{
    position: absolute;
    max-height: 210px;
    max-width: 400px;
    bottom: 12%;
    right: 10%;
    color: #f5f5f7;
}
#ceter-page21 p{
    line-height: 1.5;
    font-size: 21px;
    font-weight: 900;
    letter-spacing: 0.011em;
}
#center-page21 p span{
    font-weight: bolder;
    color: #F5F5F7;
}
#center-page21>h1{
    margin-bottom: 25px;
    color: #F5F5F7;
}

/* Page 22 */
#page22{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page22>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page22>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#centre-page22{
    position: relative;
    height: 40vh;
    width: 100vw;
    text-align: center;
    background-color: #000;
}
#centre-page22 h1{
    font-size: 32px;
    color: #fff;
}
#centre-page22 h3{
    margin-top: 40px;
    font-size: 21px;
    color: #86868b;
    letter-spacing: 0.011em;  
    max-width: 650px;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#centre-page22 h3 span{
    color: #fff;
    font-weight: 900;
}

/* Page 23 */
#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page23>#sroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}
#page23>#sron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}
#centre-page23{
    position: relative;
    height: 60vh;
    width: 100vw;
    text-align: center;
    background-color: #000;
}
#centre-page23 h1{
    font-size: 32px;
    color: #f5f5f5;
}
#centre-page23 h3{
    margin-top: 40px;
    font-size: 21px;
    color: #86868b;
    letter-spacing: 0.011em;  
    max-width: 650px;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#centre-page23 h3 span{
    color: #fff;
    font-weight: 900;
}

/* Page 24 */
#page24{
    height: 120vh;
    width: 100vw;
    position: relative;
}
#page24 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#centre-page24 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #000;
}
#centre-page24 button {
    margin-top: 55px; 
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #f5f5f7;
    font-size: 24px;
    color: #1d1d1f;
    font-weight: 700;
    border: none;
}
#centre-page24 h1 {
    font-size: 32px;
    color: #fff;
}
#centre-page24 h3 {
    margin-top: 40px;
    font-size: 21px;
    color: #86868b;
    line-height: 1.38;
    letter-spacing: 0.011em;
    max-width: 653px;
    text-align: center;
}
#centre-page24 h3 span {
    color: #fff;
    font-weight: 900;
}
